<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <div id="<%= dom_id mastercar %>">
  <p>
    <strong>Страна отправления:</strong>
    <%= mastercar.strana %> - 
    <strong>Страна назначения:</strong>
    <%= mastercar.strana1 %>
  </p>

  <p>
    <strong>Подвижной состав:</strong>
    <%= mastercar.truck %>
  </p>

  <p>
    <strong>Водитель:</strong>
    <%= mastercar.driver %>
  </p>

  <p>
    <strong>Логист:</strong>
    <%= mastercar.manager %>
  </p>

  <p>
    <strong>Оценка:</strong>
    <%= mastercar.rating %>
  </p>
      </div>
    </div>
  </div>
</div>
