<div id="<%= dom_id mastercar %>">
  <p>
    <strong>Strana:</strong>
    <%= mastercar.strana %>
  </p>

  <p>
    <strong>Strana1:</strong>
    <%= mastercar.strana1 %>
  </p>

  <p>
    <strong>Truck:</strong>
    <%= mastercar.truck %>
  </p>

  <p>
    <strong>Driver:</strong>
    <%= mastercar.driver %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= mastercar.manager %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= mastercar.rating %>
  </p>

</div>
