<p style="color: green"><%= notice %></p>

<%= render @mastercar %>

<div>
  <%= link_to "Edit this mastercar", edit_mastercar_path(@mastercar) %> |
  <%= link_to "Back to mastercars", mastercars_path %>

  <%= button_to "Destroy this mastercar", @mastercar, method: :delete %>
</div>
