<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= form_with(model: master) do |form| %>
  <% if master.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(master.errors.count, "error") %> prohibited this master from being saved:</h2>

      <ul>
        <% master.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
  <div>
    <%= form.label :strana, "Страна отправления", style: "display: block" %>
    <select id = "strana" name = "master[strana]" class="form-select form-select-md mb-3" aria-label=".form-select-md example">
  <option selected>Выбери страну</option>
  <option value="BY">BY</option>
  <option value="RUS">RUS</option>
  <option value="KZ">KZ</option>
    </select>

  </div>

  <div>
    <%= form.label :strana1, style: "display: block" %>
    <%= form.text_field :strana1 %>
  </div>

  <div>
    <%= form.label :truck, style: "display: block" %>
    <%= form.text_field :truck %>
  </div>

  <div>
    <%= form.label :driver, style: "display: block" %>
    <%= form.text_field :driver %>
  </div>

  <div>
    <%= form.label :manager, style: "display: block" %>
    <%= form.text_field :manager %>
  </div>

  <div>
    <%= form.label :rating, style: "display: block" %>
    <%= form.number_field :rating %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
    </div>
  </div>
</div>
