<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="<%= dom_id master %>">
  <p>
    <strong>Страна отправления:</strong>
    <%= master.strana %> -
    <strong>Страна назначения:</strong>
    <%= master.strana1 %>
  </p>

  <p>
    <strong>Подвижной состав:</strong>
    <%= master.truck %>
  </p>

  <p>
    <strong>Водитель:</strong>
    <%= master.driver %>
  </p>

  <p>
    <strong>Логист:</strong>
    <%= master.manager %>
  </p>

  <p>
    <strong>Оценка:</strong>
    <%= master.rating %>
  </p>

      </div>
    </div>
  </div>
</div>
