<div id="<%= dom_id master %>">
  <p>
    <strong>Strana:</strong>
    <%= master.strana %>
  </p>

  <p>
    <strong>Strana1:</strong>
    <%= master.strana1 %>
  </p>

  <p>
    <strong>Truck:</strong>
    <%= master.truck %>
  </p>

  <p>
    <strong>Driver:</strong>
    <%= master.driver %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= master.manager %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= master.rating %>
  </p>

</div>
