<div id="<%= dom_id card %>">
  <p>
    <strong>Strana:</strong>
    <%= card.strana %>
  </p>

  <p>
    <strong>Strana1:</strong>
    <%= card.strana1 %>
  </p>

  <p>
    <strong>Truck:</strong>
    <%= card.truck %>
  </p>

  <p>
    <strong>Driver:</strong>
    <%= card.driver %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= card.manager %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= card.rating %>
  </p>

</div>
