<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="<%= dom_id card %>">
        <p>
          <strong>Страна отправления:</strong>
          <%= card.strana %> -
          <strong>Страна назначения:</strong>
          <%= card.strana1 %>
        </p>

  <p>
    <strong>Подвижной состав:</strong>
    <%= card.truck %>
  </p>

  <p>
    <strong>Водитель:</strong>
    <%= card.driver %>
  </p>

  <p>
    <strong>Логист:</strong>
    <%= card.manager %>
  </p>

  <p>
    <strong>Оценка:</strong>
    <%= card.rating %>
  </p>
      </div>
    </div>
  </div>
</div>
